.item-container {
  border: 1px solid #343434;
  padding: 1em;

  .input-label {
    display: flex;
    flex-direction: column;
    width: 100%;

    input {
      border-right: none;
    }

    .input-button {
      display: flex;
    }
  }
}
