.item-container {
  .input-label {
    display: flex;
    flex-direction: column;
    width: 100%;

    .add-button {
      align-self: center;
    }

    .input-buttons {
      flex-direction: row;
    }
  }
}
