<div class="item-container">
  <ng-template [ngIf]="spellsToSelect.length >= 1">
    <div class="input-label">
      <span>{{ label }}</span>
      <select #spellSelect [name]="name">
        <option default [value]="null"></option>
        <option *ngFor="let spell of spellsToSelect" [ngValue]="spell">
          {{ spell.name }}
        </option>
      </select>

      <button (click)="addSpell()" class="add-button">Adicionar</button>
    </div>
  </ng-template>

  <div>
    <ul>
      <li *ngFor="let spell of addedSpell">
        {{ spell.name }}
        <button (click)="removeSpell(spell)">Remover</button>
      </li>
    </ul>
  </div>
</div>
