<div class="item-container">
  <ng-template [ngIf]="spellsToSelect.length >= 1">
    <div class="input-label">
      <span>{{ label }}</span>
      <div class="input-button">
        <select #spellSelect
                [name]="name"
                [(ngModel)]="value">
          <option default
                  [value]="null"></option>
          <option *ngFor="let spell of spellsToSelect"
                  [ngValue]="spell">
            {{ spell.name }}
          </option>
        </select>

        <button (click)="addSpell()"
                class="add-button"
                [disabled]="cantAddSpell">Adicionar</button>
      </div>
    </div>
  </ng-template>

  <ul *ngIf="addedSpell.length">
    <li *ngFor="let spell of addedSpell">
      <button (click)="removeSpell(spell)">Remover</button>
      {{ spell.name }}
    </li>
  </ul>
</div>