/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

button {
  all: unset;
  cursor: pointer !important;
  text-align: center !important;
}

input {
  all: unset;
  border: 1px solid #343434;
  width: 100%;
}

.add-button {
  border: 1px solid #343434;
  padding: 0.5em;
  width: 3.75em;
}

ul {
  margin-top: 1em;

  button {
    border: 1px solid #343434;
    padding: 0.25em;
  }
}
