<div class="item-container">
  <div class="input-label">
    <span>Habilidade</span>
    <div class="input-button">
      <input type="text"
             (keypress)="isNumberKey($event)"
             pattern="[0-9]*"
             #ability>
    </div>
  </div>

  <div class="input-label">
    <span>Energia</span>
    <div class="input-button">
      <input type="text"
             (keypress)="isNumberKey($event)"
             pattern="[0-9]*"
             #energy>
      <!-- <button (click)="addMonster()">Adicionar</button> -->
    </div>
  </div>

  <button (click)="addMonster()">Adicionar</button>
</div>