.form-flex {
  display: flex;
  width: 100%;
  gap: 1em;
  padding: 0.5em;

  .monsters-encounters,
  .adventure-stats {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0.5em;
    grid-row-gap: 0.5em;
    width: 50%;

    app-increment-button,
    app-monsters-encounters,
    app-monsters-list {
      grid-column: span 2;
    }

    app-increment-button:nth-child(4),
    app-increment-button:nth-child(5),
    app-spells-list,
    app-items-list {
      grid-column: span 3;
    }
  }
}